/* --------- mixins --------- */
/* --------- fonts --------- */
@font-face {
  font-family: 'helveticaneuebold';
  src: url("../fonts/helveticaneue-bold/helveticaneue-bold.eot");
  src: url("../fonts/helveticaneue-bold/helveticaneue-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-bold/helveticaneue-bold.woff") format("woff"), url("../fonts/helveticaneue-bold/helveticaneue-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneue';
  src: url("../fonts/helveticaneue/helveticaneue.eot");
  src: url("../fonts/helveticaneue/helveticaneue.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue/helveticaneue.woff") format("woff"), url("../fonts/helveticaneue/helveticaneue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'helveticaneuemedium';
  src: url("../fonts/helveticaneue-medium/helveticaneue-medium.eot");
  src: url("../fonts/helveticaneue-medium/helveticaneue-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-medium/helveticaneue-medium.woff") format("woff"), url("../fonts/helveticaneue-medium/helveticaneue-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* --------- components --------- */
html,
body {
  height: 100%; }

* {
  box-sizing: border-box; }

body {
  font-family: 'helveticaneue'; }

section {
  min-width: 1366px; }

.container {
  width: 1140px;
  margin: 0 auto; }
  .container:before,
  .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.hide {
  position: absolute;
  left: -9999px; }

.challenges__header:before,
.challenges__header:after,
.news__header:before,
.news__header:after {
  content: "";
  display: table; }

.challenges__header:after,
.news__header:after {
  clear: both; }

.title {
  float: left;
  margin: 0 0 15px; }

.title__text {
  margin: 0;
  padding: 0;
  font-size: 36px;
  color: #222;
  font-weight: normal; }

.see-all {
  float: right;
  margin-top: 8px; }

.see-all__link {
  font-size: 11px;
  color: #fff;
  padding: 7px 12px;
  background: #27abff;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .see-all__link:hover {
    background: #1996e6; }

/*sticky footer*/
.wrapper {
  min-height: 100%;
  margin-bottom: -247px;
  min-width: 1140px; }

.wrapper:after {
  content: "";
  display: block; }

.wrapper:after,
.page-footer {
  height: 247px; }

/*end of sticky footer*/
/*page - header*/
.page-header {
  background-color: #202020;
  height: 68px;
  min-width: 1366px; }

.logo {
  float: left;
  width: 108px;
  height: 28px;
  margin: 20px 94px 20px 0; }

.logo__link {
  display: block;
  height: 100%; }

.logo__img {
  width: 100%;
  height: 100%; }

.nav {
  float: left; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 68px; }
  .nav__list:before,
  .nav__list:after {
    content: "";
    display: table; }
  .nav__list:after {
    clear: both; }

.nav__item {
  float: left; }

.nav__item {
  margin-left: 69px; }

.nav__item:first-child {
  margin-left: 0; }

.nav__link {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  display: block; }
  .nav__link:hover {
    color: #f36523; }

.buttons {
  float: right; }

.buttons__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .buttons__list:before,
  .buttons__list:after {
    content: "";
    display: table; }
  .buttons__list:after {
    clear: both; }

.buttons__item {
  display: inline-block;
  vertical-align: middle; }

.buttons__item {
  margin-left: 20px; }

.buttons__item:first-child {
  margin-left: 0; }

.buttons__link {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 14px; }

.buttons__link--sign-in:hover {
  color: #f3621f; }

.buttons__link--join {
  background-color: #f36523;
  padding: 9px 32px 8px 31px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-transform: uppercase; }
  .buttons__link--join:hover {
    color: #f36523;
    background-color: #fff; }

.search {
  height: 60px;
  min-width: 1140px;
  width: 100%;
  background-color: #2a2a2a;
  line-height: 60px;
  text-align: center;
  position: absolute;
  display: none;
  z-index: 1; }

.no-csstransitions .search__input {
  line-height: 28px; }

/*page - footer*/
.page-footer {
  min-width: 1366px; }
  .page-footer .container {
    width: 1140px; }

.footer-nav {
  padding: 24px 0; }
  .footer-nav:before,
  .footer-nav:after {
    content: "";
    display: table; }
  .footer-nav:after {
    clear: both; }

.footer-nav__list,
.socials__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .footer-nav__list:before,
  .footer-nav__list:after,
  .socials__list:before,
  .socials__list:after {
    content: "";
    display: table; }
  .footer-nav__list:after,
  .socials__list:after {
    clear: both; }

.footer-nav__column {
  float: left;
  width: 200px; }

.footer-nav__column {
  margin-left: 92px; }

.footer-nav__column:first-child {
  margin-left: 0; }

.footer-nav {
  background-color: #1c1d1f;
  height: 203px; }

.footer-nav__title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'helveticaneuemedium';
  color: #fff;
  margin-bottom: 12px;
  font-weight: normal; }

.footer-nav__column .footer-nav__title:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 8px;
  background-color: #333436; }

.socials .footer-nav__title:after {
  display: none; }

.socials .footer-nav__title {
  margin-bottom: 14px; }

.footer-nav__item {
  margin-bottom: 8px; }

.footer-nav__link {
  color: #ddd;
  font-size: 14px;
  text-decoration: none;
  display: block; }
  .footer-nav__link:hover {
    color: #27abff; }

.socials__item {
  float: left;
  margin-right: 20px; }

.copy {
  background-color: #000;
  height: 45px;
  line-height: 45px; }

.copy__text {
  text-align: right;
  color: #666666;
  font-size: 14px; }

.slider {
  height: 517px;
  background-color: #f3f3f3;
  position: relative; }
  .slider .container {
    position: relative;
    height: 100%; }

.slider__list {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  height: 517px;
  width: 100%; }

.slider__item {
  width: 100%;
  height: 517px;
  display: none;
  overflow: hidden; }
  .slider__item.active {
    display: block; }

.slider__img {
  width: 100%;
  height: auto; }

.no-backgroundsize .slider {
  width: 1366px;
  margin: 0 auto; }

.slider__title {
  text-align: center;
  width: 54%;
  margin: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.no-backgroundsize .slider__title {
  margin-top: -8%;
  margin-left: -25%; }

.slider__text {
  background: rgba(0, 0, 0, 0.8);
  padding: 6px 10px 5px 10px;
  letter-spacing: 0.7px;
  color: #fff;
  margin: 0 0 4px;
  display: inline-block;
  font-size: 17px; }

.no-rgba .slider__text {
  background: #000; }

.slider__text--main {
  padding: 2px 16px;
  margin-bottom: 16px;
  font-size: 36px;
  font-family: 'helveticaneuebold';
  text-transform: uppercase; }

.slider-btn__link {
  display: block;
  text-decoration: none;
  width: 161px;
  height: 42px;
  line-height: 42px;
  margin: 0 auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: #000; }
  .slider-btn__link:hover {
    color: #fff;
    background-color: #f36523; }

.slider-social__link {
  display: block;
  width: 108px;
  height: 77px;
  position: absolute;
  top: 0;
  right: 0; }

.banners {
  background: #f3f3f3; }
  .banners:before,
  .banners:after {
    content: "";
    display: table; }
  .banners:after {
    clear: both; }
  .banners .container {
    width: 1366px;
    height: 325px; }

.banners__column {
  width: 683px;
  float: left;
  height: 325px; }

.tips {
  height: 100%;
  position: relative; }

.tips__item {
  display: none; }

.tips__list .active {
  display: block; }

.tips__list {
  margin: 0 0 38px;
  padding: 0;
  list-style: none;
  height: 100%; }

.tips__item {
  padding: 60px 110px 0 65px;
  height: 100%;
  float: left;
  width: 683px; }

.tips-title__text {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 30px;
  font-weight: normal; }

.tips-content__text {
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5; }

.tips-title {
  padding: 2px 0 0 48px;
  margin-bottom: 20px; }

.tips-content {
  padding-left: 48px; }

.tips__item--create {
  background: #27abff; }

.tips__item--price {
  background: #f3f3f3; }
  .tips__item--price .tips-title__text,
  .tips__item--price .tips-content__text {
    color: #444444; }

.tips__item--compete {
  background: #f36523; }

.video-player__tumb {
  width: 683px;
  height: 325px; }

.video-player__img {
  width: 100%;
  height: 100%; }

.video-player {
  display: block;
  position: relative; }

.video-player-title {
  position: absolute;
  top: 106px;
  left: 50%;
  margin-left: -105px; }

.video-player-title__text {
  font-size: 17px;
  font-family: 'helveticaneuebold';
  color: #fff;
  text-transform: uppercase; }

.cta .container {
  background-color: #fff; }

.cta {
  padding: 54px 0 62px; }

.cta__list {
  margin: 0 0 16px;
  padding: 0;
  list-style: none;
  position: relative; }
  .cta__list:before,
  .cta__list:after {
    content: "";
    display: table; }
  .cta__list:after {
    clear: both; }

.cta__item {
  float: left;
  width: 374px;
  text-align: center; }

.cta__item:first-child {
  width: 380px; }

.cta__title {
  color: #f36523;
  font-size: 21px;
  margin-bottom: 6px; }

.cta__title--prizes:before,
.cta__title--dreamers:before {
  content: '';
  display: block;
  margin: 0 auto 12px; }

.cta__title--prizes:before {
  margin: 0 auto 12px; }

.cta__title--dreamers:before {
  margin: 0 auto 8px; }

.cta__text {
  font-size: 60px;
  color: #444; }

.cta__like {
  position: relative; }
  .cta__like:before,
  .cta__like:after {
    content: '';
    color: #ececec;
    display: block;
    width: 7px;
    height: 24px;
    background: url(../images/icons/png/devider.png) no-repeat;
    position: relative; }
  .cta__like:before {
    left: 196px; }
  .cta__like:after {
    left: 168px; }

.cta-like__link {
  width: 41px;
  height: 41px;
  display: block;
  margin: 14px auto 6px; }

.cta-like__img {
  width: 100%; }

.cta-like__text {
  font-size: 14px;
  color: #999999;
  margin-bottom: 14px; }

.join-commun {
  text-align: center; }

.join-commun__link {
  display: inline-block;
  padding: 21px 78px;
  background: #f36523;
  text-transform: uppercase;
  color: #fff;
  font-family: 'helveticaneuebold';
  font-size: 17px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .join-commun__link:hover {
    background: #dd5313; }

.challenges {
  padding: 46px 0;
  background-color: #f3f3f3; }

.challenges__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -32px; }
  .challenges__list:before,
  .challenges__list:after {
    content: "";
    display: table; }
  .challenges__list:after {
    clear: both; }

.challenges__item {
  float: left;
  width: 261px;
  margin-left: 32px;
  margin-bottom: 30px; }

.challenges__link {
  display: block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  background: #fff;
  width: 100%;
  height: 100%;
  text-decoration: none;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .challenges__link:hover {
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15); }
  .challenges__link:hover .challenges-title__text {
    color: #27abff; }

.challenges-content {
  padding: 0 10px 10px 15px;
  border-bottom: 1px solid #ddd; }

.challenges-tumb {
  width: 261px;
  height: 158px;
  margin-bottom: 12px; }

.challenges-tumb__img {
  width: 100%;
  height: 100%; }

.challenges-title {
  margin-bottom: 8px; }

.challenges-title__text {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'helveticaneue';
  font-size: 16px;
  line-height: 1.2; }

.competitors {
  margin-bottom: 6px; }

.competitors__text {
  font-family: 'helveticaneuebold';
  font-size: 13px;
  color: #999999; }

.challenges-content__text {
  font-size: 13px;
  color: #999999;
  line-height: 1.5; }

.challenges__footer:before,
.challenges__footer:after {
  content: "";
  display: table; }

.challenges__footer:after {
  clear: both; }

.challenges-footer__column {
  width: 126px;
  float: left;
  padding-left: 15px;
  padding-top: 6px;
  padding-bottom: 8px; }

.challenges-footer__column:first-child {
  width: 135px;
  border-right: 1px solid #ddd; }

.challenges-specify {
  margin-bottom: 8px; }

.challenges-specify__text {
  margin: 0;
  padding: 0;
  font-size: 10px;
  color: #999999;
  text-transform: uppercase;
  font-weight: bolder; }

.challenges-status {
  margin-top: -2px; }

.challenges-status__text {
  font-size: 12px;
  color: #222;
  font-weight: bolder; }

.news {
  padding: 50px 0;
  background-color: #fff; }

.news__list {
  margin-bottom: 20px; }

.news__list {
  margin: 0;
  padding: 0;
  list-style: none; }
  .news__list:before,
  .news__list:after {
    content: "";
    display: table; }
  .news__list:after {
    clear: both; }

.news__item {
  float: left;
  width: 360px;
  height: 280px;
  border: 1px solid #ddd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 34px; }

.news__item {
  margin-left: 30px; }

.news__item:first-child {
  margin-left: 0; }

.news-tumb {
  width: 360px;
  height: 206px; }

.news-tumb__img {
  width: 100%;
  height: 100%; }

.news__content {
  padding: 8px 15px 13px; }

.news-title {
  margin-bottom: 6px; }

.news-title__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #222; }

.news-text {
  font-size: 13px;
  color: #999; }

.news-text__autor {
  color: #27abff;
  text-decoration: none; }

.sign {
  background-image: url("../images/send-bg.png");
  background-size: cover;
  height: 335px; }
  .sign .container {
    display: table;
    text-align: center;
    height: 100%; }

.sign__content {
  display: table-cell;
  vertical-align: middle; }

.sign-title {
  margin-bottom: 68px;
  margin-top: -16px; }

.sign-title__text {
  font-size: 36px;
  color: #fff;
  font-weight: normal;
  margin: 0;
  padding: 0; }

.sign__group {
  height: 45px;
  position: relative;
  width: 450px;
  display: inline-block; }

.sign__input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #656567;
  outline: none;
  color: #fff;
  padding-bottom: 17px;
  padding-right: 26px; }

.sign__input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px; }

.sign__input:-moz-placeholder,
.sign__input::-moz-placeholder {
  color: #ffffff;
  font-size: 14px; }

.sign__input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px; }

/*icons for header*/
.buttons__link--search {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
  height: 68px;
  width: 44px;
  background-image: url("../images/icons/png/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -45px -2840px; }

.buttons__item .active {
  background-color: #2a2a2a;
  background-position: -45px -580px; }

.search__input {
  width: 586px;
  height: 32px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
  background-image: url("../images/icons/png/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -38px -2994px;
  padding-left: 40px;
  border: none; }

/*icons for slider*/
.slider__arrow {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../images/icons/png/spritesheet.png");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -50px; }
  .slider__arrow:hover {
    background-color: black;
    transition: 0.6s; }

.slider__arrow--left {
  background-position: -40px -3407px;
  left: 0; }

.slider__arrow--right {
  background-position: -35px -3549px;
  right: 0; }

.no-rgba .slider__arrow--left {
  background-position: -60px -2001px; }

.no-rgba .slider__arrow--right {
  background-position: -60px -2181px; }

/*icons for banners*/
.video-player__btn {
  width: 78px;
  height: 77px;
  position: absolute;
  left: 50%;
  margin-left: -39px;
  background-image: url(../images/icons/png/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -60px -2361px;
  top: 146px; }

.tips-title {
  background-image: url("../images/icons/png/spritesheet.png");
  background-repeat: no-repeat; }

.tips__item--create .tips-title {
  background-position: -60px -891px; }

.tips__item--price .tips-title {
  background-position: -60px -2554px; }

.tips__item--compete .tips-title {
  background-position: -60px -735px; }

.tips-arrows__link {
  width: 11px;
  height: 17px;
  display: block;
  position: absolute;
  bottom: 60px;
  background-image: url("../images/icons/png/spritesheet.png");
  background-repeat: no-repeat; }

.tips-arrows__link--left {
  background-position: -60px -60px;
  left: 115px; }
  .tips-arrows__link--left:hover {
    background-position: -60px -197px; }

.tips-arrows__link--right {
  background-position: -60px -334px;
  left: 149px; }
  .tips-arrows__link--right:hover {
    background-position: -60px -471px; }

/*icons for cta*/
.cta__title--prizes:before,
.cta__title--dreamers:before {
  background-image: url(../images/icons/png/spritesheet.png);
  background-repeat: no-repeat; }

.cta__title--prizes:before {
  width: 40px;
  height: 37px;
  background-position: -60px -2710px; }

.cta__title--dreamers:before {
  width: 43px;
  height: 41px;
  background-position: -60px -1188px; }

/*icons for challenges*/
.challenges-status__text--prize {
  padding-left: 28px;
  padding-bottom: 4px;
  padding-top: 8px;
  margin-top: -10px;
  background-image: url("../images/icons/png/spritesheet.png");
  background-repeat: no-repeat;
  background-position: -60px -1042px; }

/*icons for sign*/
.sing__sbm {
  position: absolute;
  border: none;
  right: 0;
  top: 50%;
  margin-top: -20px;
  width: 24px;
  height: 25px;
  background-color: transparent;
  background-image: url(../images/icons/png/spritesheet.png);
  background-repeat: no-repeat;
  background-position: -60px -3137px; }
  .sing__sbm:hover {
    background-position: -60px -3282px; }

/*social*/
.socials__link {
  width: 43px;
  height: 43px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  background-image: url("../images/icons/png/spritesheet.png");
  background-repeat: no-repeat; }

.socials__link--fb {
  background-position: -60px -1349px; }
  .socials__link--fb:hover {
    background-position: -60px -1512px; }

.socials__link--tw {
  background-position: -60px -3713px; }
  .socials__link--tw:hover {
    background-position: -60px -3876px; }

.socials__link--goo {
  background-position: -60px -1675px; }
  .socials__link--goo:hover {
    background-position: -60px -1838px; }
