.banners {
	@include clearfix;
	background: #f3f3f3;
	.container {
		width: 1366px;
		height: 325px;
	}
}

.banners__column {
	width: 683px;
	float: left;
	height: 325px;
}

.tips {
	height: 100%;
	position: relative;
}

.tips__item {
	display: none;
}

.tips__list {

	.active {
		display: block;
	}
}
.tips__list {
	margin: 0 0 38px;
	padding: 0;
	list-style: none;
	height: 100%;
}

.tips__item {
	padding: 60px 110px 0 65px;
	height: 100%;
	float: left;
	width: 683px;
}

.tips-title__text {
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
}

.tips-content__text {
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
}

.tips-title {
	padding: 2px 0 0 48px;
	margin-bottom: 20px;
}

.tips-content {
	padding-left: 48px;
}

.tips__item--create {
	background: #27abff;
}

.tips__item--price {
	background: #f3f3f3;

	.tips-title__text,
	.tips-content__text {
		color: #444444;
	}
}

.tips__item--compete{
	background: #f36523;
}

.video-player__tumb {
	width: 683px;
	height: 325px;
}

.video-player__img {
	width: 100%;
	height: 100%;
}

.video-player {
	display: block;
	position: relative;
}

.video-player-title {
	position: absolute;
	top: 106px;
	left: 50%;
	margin-left: -105px;
}

.video-player-title__text {
	font-size: 17px;
	font-family: 'helveticaneuebold';
	color: #fff;
	text-transform: uppercase;
}