html,
body {
	height: 100%;
}

body {
	font-family: 'helveticaneuethin';
}

/*sticky footer*/
.wraper {
	min-height: 100%;
	margin-bottom: -247px;
}

.wraper:after {
	content: "";
	display: block;
}

.wraper:after,
.page-footer {
	height: 247px;
}
/*end of sticky footer*/

