.cta .container {
	background-color: #fff;
}

.cta {
	padding: 54px 0 62px;
}

.cta__list {
	margin: 0 0 16px;
	padding: 0;
	list-style: none;
	@include clearfix;
	position: relative;
}
//pixel perfect...
.cta__item {
	float: left;
	width: 374px;
	text-align: center;
}

.cta__item:first-child {
	width: 380px;
}

.cta__title {
	color: #f36523;
	font-size: 21px;
	margin-bottom: 6px;
}

.cta__title--prizes,
.cta__title--dreamers {
	&:before {
		content: '';
		display: block;
		margin: 0 auto 12px;
	}
}

.cta__title--prizes {
	&:before {
		margin: 0 auto 12px;
	}
}

.cta__title--dreamers {
	&:before {
		margin: 0 auto 8px;
	}
}


.cta__text {
	font-size: 60px;
	color: #444;
}

.cta__like {
	position: relative;
	&:before,
	&:after {
		content: '';
		color: #ececec;
		display: block;
		width: 7px;
		height: 24px;
		background: url(../images/icons/png/devider.png) no-repeat;
		position: relative;
	}
	&:before {
		left: 196px;

	}
	&:after {
		left: 168px;
	}
}

.cta-like__link {
	width: 41px;
	height: 41px;
	display: block;
	margin: 14px auto 6px;
}

.cta-like__img {
	width: 100%;
}

.cta-like__text {
	font-size: 14px;
	color: #999999;
	margin-bottom: 14px;
}

.join-commun {
	text-align: center;
}

.join-commun__link {
	display: inline-block;
	padding: 21px 78px;
	background: #f36523;
	text-transform: uppercase;
	color: #fff;
	font-family: 'helveticaneuebold';
	font-size: 17px;
	text-decoration: none;
	@include border-radius (3px);

	&:hover {
		background: #dd5313;
	}
}