.slider {
	height: 517px;
	background-color: #f3f3f3;
	background-image: url('../images/first-slide.png');
	background-repeat: no-repeat;
	background-size: cover;
	.container {
		position: relative;
		height: 100%;
	}
}

.no-backgroundsize .slider {
	width: 1366px;
	margin: 0 auto;
}

.slider__title {
	text-align: center;
	width: 54%;
	margin: auto;
	position: absolute;
	top: 45%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.no-csstransitions .slider__title {
	margin-top: -8%;
	margin-left: -25%;
}

.slider__text {
	background: rgba(0,0,0, .8);
	padding: 6px 10px 5px 10px;
	letter-spacing: 0.7px;
	color: #fff;
	margin: 0 0 4px;
	display: inline-block;
	font-size: 17px;
}

.no-rgba .slider__text {
	background: #000;
}

.slider__text--main {
	padding: 2px 16px;
	margin-bottom: 16px;
	font-size: 36px;
	font-family: 'helveticaneuebold';
	text-transform: uppercase;
}

.slider-btn__link {
	display: block;
	text-decoration: none;
	width: 161px;
	height: 42px;
	line-height: 42px;
	margin: 0 auto;
	@include border-radius(3px);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	background-color: #fff;
	color: #000;

	&:hover {
		color: #fff;
		background-color: #f36523;
	}
}

.slider-social__link {
	display: block;
	width: 108px;
	height: 77px;
	position: absolute;
	top: 0;
	right: 0;
}