doctype html
html(lang="en")

	include ../common/head.jade

	body

		.wrapper

			include ../common/header.jade

			include ../common/slider.jade

			include ../common/banners.jade

			include ../common/cta.jade

			include ../common/challenges.jade

			include ../common/new.jade

			include ../common/sign.jade

		include ../common/footer.jade