section.cta

	ul.cta__list
		li.cta__item
			.cta__title.cta__title--prizes in prizes
			.cta__text $4,000,000
		li.cta__item
			.cta__like
				a.cta-like__link(href="#")
					img(src="images/icons/png/like-ico.png", alt="заменить на svg")
		li.cta__item
			.cta__title.cta__title--dreamers Crazy Dreamers
			.cta__text +250,000

	.join-commun
		a.join-commun__link(href="#") Join the community


