footer.page-footer
	nav.footer-nav
		.container
			.footer-nav__column
				h3.footer-nav__title About
				ul.footer-nav__list
					each item in ['About Us', 'Privacy Policy', 'Terms of Use', 'News', 'Events']
						li.footer-nav__item
							a.footer-nav__link(href="#")= item

			.footer-nav__column
				h3.footer-nav__title Get Involved
				ul.footer-nav__list
					each item in ['Work with Us', 'Subscribe for', 'Newsletter', 'Forum']
						li.footer-nav__item
							a.footer-nav__link(href="#")= item

			.footer-nav__column
				h3.footer-nav__title Help Center
				ul.footer-nav__list
					each item in ['FAQs', 'Contact Us', 'How to Start a', 'Challenge']
						li.footer-nav__item
							a.footer-nav__link(href="#")= item

			.footer-nav__column.socials
				h3.footer-nav__title Connect with Us
				ul.socials__list
					each item in ['fb', 'tw', 'goo']
						li.socials__item
							a(href="#" class="socials__link socials__link--" + item)
								span.hide= item
	.copy
		.container
			.copy__text © 2015  All Rights Reserved

<!-- build:js js/vendor.js --> 
//bower:js

//endbower
<!-- endbuild -->

<!-- build:js js/main.js --> 
script(src="js/main.js")
<!-- endbuild -->
