header.page-header
	.container

		.logo
			a.logo__link(href="#")
				img.logo__img(src="images/logo-top.png", alt="page logo")
				span.hide site name

		nav.nav
			ul.nav__list
				each item in ['Create', 'Explore', 'How it works', 'News', 'About us']
					li.nav__item
						a.nav__link(href="#")= item

		.buttons
			ul.buttons__list
				li.buttons__item
					a#search-btn.buttons__link.buttons__link--search(href="#")
				li.buttons__item
					a.buttons__link.buttons__link--sign-in(href="#") Sign in
				li.buttons__item
					a.buttons__link.buttons__link--join(href="#") Join us
	#page-search.search
		form.search__form(action="")
			input.search__input(type="text" name="page-search")
