section.news
	.container
		.news__header
			.title
				h2.title__text Explore the Challenges
			.see-all
				a.see-all__link(href="#")

		ul.news__list
			li.news__item
				img.news__img(src="images/first-news-img.png", alt="news image")
				h3.news__title Immigrants More Likely to Be Entrepreneurs
				.news__text Posted by 
					a.news__autor(href="#") Jesus Salas
					|  on Jan. 29, 2015

			li.news__item
				img.news__img(src="images/second-news-img.png", alt="news image")
				h3.news__title Transforming Personal Health: The Nokia Sensing XChallenge
				.news__text Posted by 
					a.news__autor(href="#") Jesus Salas
					|  on Jan. 29, 2015

			li.news__item
				img.news__img(src="images/third-news-img.png", alt="news image")
				h3.news__title Getting More From Results: The Clinical Trial Innovation Prize
				.news__text Posted by 
					a.news__autor(href="#") Jesus Salas
					|  on Jan. 29, 2015
