section.news
	.container
		.news__header
			.title
				h2.title__text Recent News
			.see-all
				a.see-all__link(href="#") see all

		ul.news__list
			li.news__item
				.news-tumb
					img.news-tumb__img(src="images/first-news-img.png", alt="news image")
				.news__content
					.news-title
						h3.news-title__text Immigrants More Likely to Be Entrepreneurs
					.news-text Posted by 
						a.news-text__autor(href="#") Jesus Salas
						|  on Jan. 29, 2015

			li.news__item
				.news-tumb
					img.news-tumb__img(src="images/second-news-img.png", alt="news image")
				.news__content
					.news-title
						h3.news-title__text Transforming Personal Health: The Nokia Sensing XChallenge
					.news-text Posted by 
						a.news-text__autor(href="#") Jesus Salas
						|  on Jan. 29, 2015

			li.news__item
				.news-tumb
					img.news-tumb__img(src="images/third-news-img.png", alt="news image")
				.news__content
					.news-title
						h3.news-title__text Getting More From Results: The Clinical Trial Innovation Prize
					.news-text Posted by 
						a.news-text__autor(href="#") Jesus Salas
						|  on Jan. 29, 2015
