section.sign
	.sign__content
		h2.sign__title Become a part of the future!
		form.sign__form(action="")
			input.sign__input(type="email" name="email" placeholder="Sign up for the recent news, type in your e-mail")
