section.sign
	.container
		.sign__content
			.sign-title
				h2.sign-title__text Become a part of the future!
			form.sign__form(action="")
				.sign__group
					input#sign-in.sign__input(type="email" name="email" placeholder="Sign up for the recent news, type in your e-mail")
					input.sing__sbm(type="submit" value="")