section.slider

	ul.slider__list
		li.slider__item.active
			img.slider__img(src="images/first-slide.png" alt="first slide")
		li.slider__item
			img.slider__img(src="images/second-slide.png" alt="second slide")

	.container

		.slider__nav
			a.slider__arrow.slider__arrow--left(href="#")
			a.slider__arrow.slider__arrow--right(href="#")

		.slider__title
			.slider__text Create & Solve Innovation Challenges Such As:
			h2.slider__text.slider__text--main The Featured Challenge
			.slider__btn
				a.slider-btn__link(href="#") Learn more

		.slider__social
			a.slider-social__link(href="#")
				img.slider-social__img(src="images/fb-logo.png", alt="fb-logo")

