@font-face {
	font-family: 'helveticaneuebold';
	src: url('../fonts/helveticaneue-bold/helveticaneue-bold.eot');
	src: url('../fonts/helveticaneue-bold/helveticaneue-bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneue-bold/helveticaneue-bold.woff') format('woff'),
		 url('../fonts/helveticaneue-bold/helveticaneue-bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'helveticaneue';
	src: url('../fonts/helveticaneue/helveticaneue.eot');
	src: url('../fonts/helveticaneue/helveticaneue.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneue/helveticaneue.woff') format('woff'),
		 url('../fonts/helveticaneue/helveticaneue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'helveticaneuemedium';
	src: url('../fonts/helveticaneue-medium/helveticaneue-medium.eot');
	src: url('../fonts/helveticaneue-medium/helveticaneue-medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneue-medium/helveticaneue-medium.woff') format('woff'),
		 url('../fonts/helveticaneue-medium/helveticaneue-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
